body {
  margin: 0;
  background-color: rgb(147, 0, 0);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: Geneva, sans-serif;
}

.bg-layout {
  background-color: rgb(147, 0, 0);
  color: white;
}

/* ------ Custom Scroll ------ */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff30;
  box-shadow: inset 1px 1px 2px transparent;
  border: 0.1px solid #ffffff30;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(147, 0, 0) !important;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px rgb(155 155 155 / 40%);
}

/* #__next {
  min-height: 100vh;
  background: rgb(188, 0, 0);
} */
