body {
  margin: 0;
  background-color: rgb(147, 0, 0);
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgb(219, 187, 4);
}

::selection {
  color: white;
  background: rgb(219, 187, 4);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: Geneva, sans-serif;
}

.bg-layout {
  background-color: rgb(147, 0, 0);
  color: white;
}

/* ------ Custom Scroll ------ */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff30;
  box-shadow: inset 1px 1px 2px transparent;
  border: 0.1px solid #ffffff30;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(147, 0, 0, 0.8) !important;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px rgb(155 155 155 / 40%);
}

/* #__next {
  min-height: 100vh;
  background: rgb(188, 0, 0);
} */

.MuiModal-root {
  display: flex;
  align-items: center;
}

.MuiBox-root {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.MuiBackdrop-root {
  background-color: rgba(20, 0, 0, 0.8) !important;
}

.swiper-pagination-bullet-active {
  background: rgb(147, 0, 0) !important;
}
body {
  margin: 0 !important;
}
#nprogress {
  pointer-events: "none";
}
#nprogress .bar {
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 0 2px dodgerblue;
}
#nprogress .peg {
  right: 0;
  opacity: 1;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px dodgerblue;
}
